

*{margin: 0; padding: 0;}

/* Nav */
.nav-wrap{margin: 40px 0;}
.nav-title{}
.nav-count{}



/* Todo List */
.todo{
  font-size: 1.5rem;
  list-style: none;
  margin-bottom: 20px;
}

/* Todo Text */
.todo-count{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: #34a853;
  border-radius: 50%;
  margin: 0 20px;
  transition: 500ms;
}
.todo-count:hover{
  opacity: 0.8;
}

/* Todo button */
button{
  outline: none;
  border: 0;
  cursor: pointer;
}
.todo-button{
  background: transparent;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: 500ms;
}
.todo-button:hover{
  opacity: 0.8;
}
.todo-increase,
.todo-decrease{
  color: #34a853;
}
.todo-delete{
  color: #ea4335;
}