button{
  outline: none;
  border: 0;
  cursor: pointer;
}

.todo-button{
  background: transparent;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: 500ms;
}

.todo-button:hover{
  opacity: 0.8;
}
.todo-increase,
.todo-decrease{
  color: #57c868;
}

.todo-delete{
  color: #c85757;
}